@import url(https://fonts.googleapis.com/css?family=Paytone+One:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap);





body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 4.6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.8rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.68rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #fffbc8 !important;
}
.bg-info {
  background-color: #c55eca !important;
}
.bg-warning {
  background-color: #cfffed !important;
}
.bg-danger {
  background-color: #69ffc7 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c55eca !important;
  border-color: #c55eca !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a036a5 !important;
  border-color: #a036a5 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a036a5 !important;
  border-color: #a036a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fffbc8 !important;
  border-color: #fffbc8 !important;
  color: #c8b900 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #c8b900 !important;
  background-color: #fff57b !important;
  border-color: #fff57b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #c8b900 !important;
  background-color: #fff57b !important;
  border-color: #fff57b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cfffed !important;
  border-color: #cfffed !important;
  color: #00cf81 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #00cf81 !important;
  background-color: #83ffd0 !important;
  border-color: #83ffd0 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #00cf81 !important;
  background-color: #83ffd0 !important;
  border-color: #83ffd0 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #69ffc7 !important;
  border-color: #69ffc7 !important;
  color: #006942 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #006942 !important;
  background-color: #1cffaa !important;
  border-color: #1cffaa !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #006942 !important;
  background-color: #1cffaa !important;
  border-color: #1cffaa !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #8d3092;
  color: #8d3092;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c55eca;
  border-color: #c55eca;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c55eca !important;
  border-color: #c55eca !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #fff462;
  color: #fff462;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #c8b900;
  background-color: #fffbc8;
  border-color: #fffbc8;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #c8b900 !important;
  background-color: #fffbc8 !important;
  border-color: #fffbc8 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #69ffc7;
  color: #69ffc7;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #00cf81;
  background-color: #cfffed;
  border-color: #cfffed;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #00cf81 !important;
  background-color: #cfffed !important;
  border-color: #cfffed !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #03ffa1;
  color: #03ffa1;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #006942;
  background-color: #69ffc7;
  border-color: #69ffc7;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #006942 !important;
  background-color: #69ffc7 !important;
  border-color: #69ffc7 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #fffbc8 !important;
}
.text-info {
  color: #c55eca !important;
}
.text-warning {
  color: #cfffed !important;
}
.text-danger {
  color: #69ffc7 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fff462 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #8d3092 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #69ffc7 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #03ffa1 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c55eca;
}
.alert-warning {
  background-color: #cfffed;
}
.alert-danger {
  background-color: #69ffc7;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fcf7fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rH55Ug3Et2 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rH55Ug3Et2 .nav-item:focus,
.cid-rH55Ug3Et2 .nav-link:focus {
  outline: none;
}
.cid-rH55Ug3Et2 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rH55Ug3Et2 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rH55Ug3Et2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rH55Ug3Et2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rH55Ug3Et2 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rH55Ug3Et2 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rH55Ug3Et2 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: none;
}
.cid-rH55Ug3Et2 .navbar.opened {
  transition: all .3s;
  background: none !important;
}
.cid-rH55Ug3Et2 .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rH55Ug3Et2 .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rH55Ug3Et2 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rH55Ug3Et2 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rH55Ug3Et2 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-rH55Ug3Et2 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rH55Ug3Et2 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rH55Ug3Et2 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rH55Ug3Et2 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rH55Ug3Et2 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rH55Ug3Et2 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rH55Ug3Et2 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rH55Ug3Et2 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rH55Ug3Et2 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rH55Ug3Et2 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rH55Ug3Et2 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rH55Ug3Et2 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rH55Ug3Et2 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rH55Ug3Et2 .navbar .navbar-logo img {
    height: 2rem !important;
  }
  .cid-rH55Ug3Et2 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rH55Ug3Et2 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rH55Ug3Et2 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rH55Ug3Et2 .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rH55Ug3Et2 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rH55Ug3Et2 .navbar.navbar-short {
  background: none !important;
  min-height: 60px;
}
.cid-rH55Ug3Et2 .navbar.navbar-short .navbar-logo img {
  height: 2rem !important;
}
.cid-rH55Ug3Et2 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rH55Ug3Et2 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rH55Ug3Et2 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rH55Ug3Et2 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rH55Ug3Et2 .dropdown-item.active,
.cid-rH55Ug3Et2 .dropdown-item:active {
  background-color: transparent;
}
.cid-rH55Ug3Et2 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rH55Ug3Et2 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rH55Ug3Et2 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rH55Ug3Et2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: none;
}
.cid-rH55Ug3Et2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rH55Ug3Et2 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rH55Ug3Et2 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rH55Ug3Et2 .navbar-buttons {
  text-align: center;
}
.cid-rH55Ug3Et2 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rH55Ug3Et2 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rH55Ug3Et2 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rH55Ug3Et2 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rH55Ug3Et2 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rH55Ug3Et2 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rH55Ug3Et2 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rH55Ug3Et2 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rH55Ug3Et2 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rH55Ug3Et2 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rH55Ug3Et2 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rH55Ug3Et2 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rH55Ug3Et2 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rH55Ug3Et2 .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.cid-rH55Ug3Et2 .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rH55Ug3Et2 .navbar {
    height: 50px;
  }
  .cid-rH55Ug3Et2 .navbar.opened {
    height: auto;
  }
  .cid-rH55Ug3Et2 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rGRQOGF9JP {
  background-image: url("../../../assets/images/gripping-bg-2000x1200.jpg");
}
.cid-rGRQOGF9JP h1 {
  letter-spacing: 9px;
}
.cid-rGRQOGF9JP h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rGRQOGF9JP h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rGRQOGF9JP h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rGRQOGF9JP .move-area {
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.cid-rGRQOGF9JP .container {
  width: 100%;
}
.cid-rGRQOGF9JP .eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #ccc;
  margin-bottom: 10px;
}
.cid-rGRQOGF9JP .eye:after {
  position: absolute;
  bottom: 17px;
  right: 14px;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 50%;
  content: " ";
}
.cid-rGRQOGF9JP .mask {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: url("http://giphygifs.s3.amazonaws.com/media/NEVT1WQFlHec8/giphy.gif");
  background-position: 0 50%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  line-height: 1;
  letter-spacing: 5px;
  padding: 0 15px;
}
.cid-rGRQOGF9JP .three {
  color: transparent;
  text-shadow: 0 0 0px #ddd;
  text-stroke: 5px;
  transition: text-shadow 0.5s;
}
.cid-rGRQOGF9JP .three:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0);
}
.cid-rGRQOGF9JP .specialtext {
  letter-spacing: 6px;
}
.cid-rH5nL4i0Dx {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rH5nL4i0Dx .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-rH5nL4i0Dx h5 {
  padding-bottom: 2rem;
}
.cid-rH5nL4i0Dx textarea {
  min-height: 150px;
}
.cid-rH5nL4i0Dx .mbr-iconfont {
  position: absolute;
  right: 1.2rem;
  color: #4554c1;
  top: 1rem;
  font-size: 1.2rem;
}
.cid-rH5nL4i0Dx h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rH5nL4i0Dx h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rH5nL4i0Dx h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rH5nL4i0Dx .form-control,
.cid-rH5nL4i0Dx .field-input {
  padding: 1rem;
  background-color: #ffffff;
  border-color: #767676;
  color: #767676 !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
}
.cid-rH5nL4i0Dx .form-control input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .form-control textarea::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input textarea::-webkit-input-placeholder {
  color: #767676 !important;
}
.cid-rH5nL4i0Dx .form-control input:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input input:-moz-placeholder,
.cid-rH5nL4i0Dx .form-control textarea:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input textarea:-moz-placeholder {
  color: #767676 !important;
}
.cid-rH5nL4i0Dx .form-control:hover,
.cid-rH5nL4i0Dx .field-input:hover,
.cid-rH5nL4i0Dx .form-control:focus,
.cid-rH5nL4i0Dx .field-input:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rH5nL4i0Dx .form-control:hover input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input:hover input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .form-control:focus input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input:focus input::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .form-control:hover textarea::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input:hover textarea::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .form-control:focus textarea::-webkit-input-placeholder,
.cid-rH5nL4i0Dx .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rH5nL4i0Dx .form-control:hover input:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input:hover input:-moz-placeholder,
.cid-rH5nL4i0Dx .form-control:focus input:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input:focus input:-moz-placeholder,
.cid-rH5nL4i0Dx .form-control:hover textarea:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input:hover textarea:-moz-placeholder,
.cid-rH5nL4i0Dx .form-control:focus textarea:-moz-placeholder,
.cid-rH5nL4i0Dx .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-rH5nL4i0Dx .jq-number__spin:hover,
.cid-rH5nL4i0Dx .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rH5nL4i0Dx .jq-number__spin {
  background-color: #ffffff;
  border-color: #767676;
  color: #767676;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rH5nL4i0Dx .jq-selectbox li,
.cid-rH5nL4i0Dx .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rH5nL4i0Dx .jq-selectbox li:hover,
.cid-rH5nL4i0Dx .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rH5nL4i0Dx .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rH5nL4i0Dx .jq-number__spin.minus:hover:after,
.cid-rH5nL4i0Dx .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rH5nL4i0Dx .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rH5nL4i0Dx .jq-number__spin.minus:after,
.cid-rH5nL4i0Dx .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rH5nL4i0Dx input::-webkit-clear-button {
  display: none;
}
.cid-rH5nL4i0Dx input::-webkit-inner-spin-button {
  display: none;
}
.cid-rH5nL4i0Dx input::-webkit-outer-spin-button {
  display: none;
}
.cid-rH5nL4i0Dx input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rH5nL4i0Dx H5 {
  text-align: center;
  color: #000000;
}
.cid-rH5nL4i0Dx P {
  text-align: center;
  color: #767676;
}
.cid-rH5nL4i0Dx H3 {
  color: #c55eca;
}
